@model List<ClothBazar.Entities.Product>
@{
    ViewBag.Title = "ProductTable";
}

<div>
    <form method="post">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Search</label>
                    <input class="form-control" id="searchTxt" name="Search" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Actions</label>
                    <div class="row">
                        <div class="col-md-6">
                            <button class="btn btn-primary form-control" type="submit" id="searchBtn">Search</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary form-control" type="button" id="newBtn">New</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </form>
</div>
<div id="TableContainer">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model)
            {
                <tr>
                    <td>@Product.Name</td>
                    <td>
                        @if (Product.Category != null)
                        {
                            <text>@Product.Category.Name</text>
                        }
                        else
                        {
                            <text>_</text>
                        }
                    </td>
                    <td>@Product.Price</td>
                    <td>
                        <button class="EditBtn" data-id="@Product.ID">Edit</button>
                        <button class="DeleteBtn" data-id="@Product.ID">Delete</button>
                        <button class="AddToCart" data-id="@Product.ID">AddToCart</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="actionContainer">

</div>
<script>
    $("#searchBtn").click(function () {
        var SearchValue = $("#searchTxt").val();

        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: SearchValue
            }
        }).done(function (response) {
            $("#tableContainer").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });
    $("#newBtn").click(function () {
        $.ajax({
            type: "GET",
            url: '/Product/Create'
        }).done(function (response) {
            $("#actionContainer").html(response);
        }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail");
        });
    });
    $(".EditBtn").click(function () {
        $.ajax(
            {
                type:"GET",
                url: '/Product/Edit' @*'@Url.Action("Edit","Product")'*@,
                data: {
                    ID: $(this).attr('data-id')
                },
                success: function (response) {
                    $("#actionContainer").html(response)
                },
                fail: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                }

            });
    });
    $(".DeleteBtn").click(function () {
        swal({
  title: "Are you sure?",
  text: "Do u Want to delete This Product ? ",
  icon: "warning",
  buttons: true,
  dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax(
                    {
                        type: 'POST',
                        url: '/Product/Delete',
                        data: {
                            ID: $(this).attr('data-id')
                        }
                    }).done(function (response) {
                        $("#TableContainer").html(response);
                        swal("Product have been Deleted", {
                            icon: "success",
                        });
                    }).fail(function (XMLHttpRequest, testStatus, errorthrown) {
                        alert("Fail");
                    });
            }
        })
    });
    var Products = [];
    $(".AddToCart").click(function () {
        var ProductID = $(this).attr('data-id');
        Products.push(ProductID);
        $.cookie('cartProduct', Products.join('-'), { path : "/" });

    })
</script>
