@model ClothBazar.Entities.Category
@{
    ViewBag.Title = "Edit";
    var FeaturedTrue = Model.IsFeatured ? "Checked" : string.Empty;
    var FeaturedFalse = Model.IsFeatured ? string.Empty : "Checked";
    var ImageURL = !string.IsNullOrEmpty(Model.ImageUrl) ? Model.ImageUrl : "/Content/images/system/placeholder-image.png";
}

<h2>Edit</h2>
<form id="EditCategory" method="post">
    <input type="hidden" name="ID" value="@Model.ID" />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="Name" value="@Model.Name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <label>Image</label>
                <input id="ImageUrl" name="ImageUrl" type="hidden" value="@Model.ImageUrl" />
                <input class="form-control" id="imageUpload" name="Image" type="file" accept=".jpg , .png" />
                <div class="col-md-4">
                    <div class="thumb">
                        <img class="img-thumbnail img-fluid" id="categoryimage" src="@ImageURL" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Is Featured ?</label>
                <div class="input-group">
                    <div class="radio form-control">
                        <input type="radio" value="True" name="IsFeatured" @FeaturedTrue /> True
                    </div>
                    <div class="radio form-control">
                        <input type="radio" value="False" name="IsFeatured" @FeaturedFalse /> False
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button id="updateBtn" type="submit" class="btn btn-primary">Update</button>
</form>
<script>
    $("#imageUpload").change(function () {
        var element = this;
        var formdata = new FormData();
        var totalfile = element.files.length;
        for (var i = 0; i < totalfile; i++) {
            var file = element.files[i];
            formdata.append("photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '/Shared/UploadImage',
            dataType:'json',
            data: formdata,
            contentType: false,
            processData: false
        }).done(function (response) {
            console.log(response);
            if (response.Success) {
                $("#categoryimage").attr("src", response.ImageURL);
                $("#ImageUrl").val(response.ImageURL);
            }
        }).fail(function (XMLHttpRequest, testStatus, errorThrown) {
            alert("Fail");
        });
    });
    $("#updateBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: '/Category/Edit',
            data: $("#EditCategory").serialize()
        }).done(function (response) {
            $("#actionContainer").html("");
            $("#TableContainer").html(response);
        }).fail(XMLHttpRequest, testStatus, errorThrown)
        {
            alert("Fail");
        }
    });
</script>
